* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#calc-container {
  padding: 15px;
  width: 300px;
}

#display-container {
  border: 1px black solid;
}

#botones-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
